
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRefleshLink</title>
</head>
<body>
    <h1>Send Mail</h1>
    <a asp-action="Login" asp-controller="Auth">GO LOGIN PAGE</a>
</body>
</html>
